* {
    font-family: 'Montserrat', sans-serif;
    stroke: black;
}

/*Grid design and styling procedure*/
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: grid;
    gap: 2px;
    /* grid-template-columns: 20% 60% 20%; */
    grid-template-columns: 100%;
    grid-template-rows: 7% 93%;
    grid-template-areas:
        "header"
        "content"
}

.header {
    grid-area: header;
    display: grid;
    text-align: center;
    background-color: lightgoldenrodyellow;
    font-size: 20px;
}

.content {
    grid-area: content;
    background-color: lightcyan;
    /* overflow: scroll; */
}

/**/

line {
    stroke-width: 2;
    stroke-dasharray: 5;
}

circle {
    stroke-width: 2;
    fill: none;
}

#connector {
    stroke-dasharray: none;
}